<nz-card [nzTitle]="getTitle()">
    <section nz-row nzType="flex" nzJustify="center">
        <div nz-col [nzXXl]="14" [nzXl]="14" [nzLg]="16" [nzMd]="20" [nzSm]="22" [nzXs]="24">
            <!--[formGroup]="inputForm"-->
            <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submit()"
                  style="width: 100%;">
                <div nz-row nzGutter="8">
                    <div nz-col [nzXs]="24" nzMd="12">
                        <ng-container *ngIf="form.get('timeStart') as timeStart">
                            <nz-form-item>
                                <nz-form-label>Thời gian bắt đầu <strong class="color-danger">*</strong></nz-form-label>
                                <nz-form-control nzHasFeedback [nzErrorTip]="timeStartValidateTip">
                                    <app-custom-timepicker [dateControl]="timeStart" [dateInput]="data.timeStart"></app-custom-timepicker>
                                    <ng-template #timeStartValidateTip let-control>
                                        Hãy chọn thời gian bắt đầu
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </ng-container>
                    </div>

                    <div nz-col [nzXs]="24" nzMd="12">
                        <ng-container *ngIf="form.get('timeEnd') as timeEnd">
                            <nz-form-item>
                                <nz-form-label>Thời gian kết thúc <strong class="color-danger">*</strong></nz-form-label>
                                <nz-form-control nzHasFeedback [nzErrorTip]="timeEndValidateTip">
                                    <app-custom-timepicker [dateControl]="timeEnd" [dateInput]="data.timeEnd"></app-custom-timepicker>
                                    <ng-template #timeEndValidateTip let-control>
                                        Hãy chọn thời gian bắt đầu
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </ng-container>
                    </div>

                    <div nz-col [nzXs]="24">
                        <ng-container *ngIf="form.get('listVoyageIds') as listVoyageIds">
                            <nz-form-item>
                                <nz-form-label>Chọn tuyến đường <strong class="color-danger">*</strong></nz-form-label>
                                <nz-form-control nzHasFeedback [nzErrorTip]="listVoyageIdsValidateTip">
                                    <app-voyage-selector [mode]="'multiple'" [formControl]="listVoyageIds"></app-voyage-selector>
                                    <ng-template #listVoyageIdsValidateTip let-control>
                                        Hãy chọn tuyến đường
                                    </ng-template>
                                </nz-form-control>
                            </nz-form-item>
                        </ng-container>
                    </div>
                </div>
                <div nz-row nzGutter="6">
                    <div nz-col [nzXs]="24">
                        <nz-form-item style="margin-top: 2em">
                            <nz-form-control>
                                <button nz-button
                                        nzType="primary"
                                        class="w-50"
                                        [nzLoading]="isSaving"><i nz-icon type="save"></i>Lưu
                                </button>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                </div>
            </form>
        </div>
    </section>
</nz-card>

